@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light dark;
}

:root {
  /* --background: var(--dark-gradient); */
  /* --text-clr: var(--neutral-0); */

  --background: hsl(217, 61%, 90%);
  --text-clr: #000000;

  --nav-background: #fff;

  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.dark {
  --background: var(--neutral-900);
  ---text-clr: #ededed;
  --nav-background: var(--neutral-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--neutral-900);
    --text-clr: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text-clr);
  font-family: 'Noto Sans', sans-serif;
}
